.computer-percentage {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
}

.drawing {
    display: grid;
    grid-template-rows: repeat(28, 1fr);
    grid-template-columns: repeat(28, 1fr);
    width: 560px;
    height: 560px;
    padding-bottom: 24px;
}

.cell {
    border: 0.1px solid rgb(255, 212, 212);
    background-color: #fff;
}