<script type="text/javascript" src="static\Accordions\Layout\layoutAccordion.js"></script>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingChild5">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChild5" aria-expanded="true" aria-controls="collapseChild5">
            Notation
        </button>
    </h2>
    <div id="collapseChild5" class="accordion-collapse collapse" aria-labelledby="headingChild5">
        <div class="accordion-body">
            Content for Child Accordion Item #1.
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingChild6">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChild6" aria-expanded="false" aria-controls="collapseChild6">
            Operator Reference
        </button>
    </h2>
    <div id="collapseChild6" class="accordion-collapse collapse" aria-labelledby="headingChild6">
        <div class="accordion-body">
            Content for Child Accordion Item #2.
        </div>
    </div>
</div>
