<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Math Documentation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" src="static\Accordions\Layout\layoutAccordion.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <p>
        This documentation attempts to provide thorough definitions and proof of the math behind <strong>machine learning</strong>. For every part of this documentation (when applicable), the math will first be documented with <strong>variable notation</strong> and <strong>standard operators</strong> (ex. 
        <span>\(\mathbf{A} \mathbf{B}\)</span>), then with <strong>expanded matrices and vectors</strong> and <strong>standard operators</strong> (ex.
    </p>

    <p>
        <span>
        \[
        \begin{bmatrix}
        a_{0, 0} & \cdots & a_{0, n} \\
        \vdots & \ddots & \vdots \\
        a_{m, 0} & \cdots & a_{m, n}
        \end{bmatrix}
        \begin{bmatrix}
        b_{0, 0} & \cdots & b_{0, o} \\
        \vdots & \ddots & \vdots \\
        b_{n, 0} & \cdots & b_{n, o}
        \end{bmatrix}
        \]
        </span>
    </p>

    <p>
        ), then with <strong>expanded matrices and vectors</strong> and <strong>linear operators</strong> (ex.
    </p>

    <p>
        <span>
        \[
        \begin{bmatrix}
        \sum_{i=0}^n \left( a_{0, i} \cdot b_{i, 0} \right) & \cdots & \sum_{i=0}^n \left( a_{0, i} \cdot b_{i, o} \right) \\
        \vdots & \ddots & \vdots \\
        \sum_{i=0}^n \left( a_{m, i} \cdot b_{i, 0} \right) & \cdots & \sum_{i=0}^n \left( a_{m, i} \cdot b_{i, o} \right)
        \end{bmatrix}
        \]
        </span>
    </p>

    <p>After the definitions, proofs of each derived definition will be provided if applicable.</p>

</body>
</html>

