body {
  margin: 0;
  background-color:  #b5b5b5 !important;
}   

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
  }
  
.title {
  padding-top: 0px !important;
  color: grey;
  font-size: 18px;
}

h1 {
  padding-top: 12px !important;
  font-size: 3.5vw !important;
  text-wrap: nowrap;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.5vw !important;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 1.7vw !important;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2vw !important;
  }
}

p {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

img {
  border-radius: 5px 5px 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:  #b5b5b5;
  align-items: center;
  height: 90vh;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contacts img {
  width: 50px;
  height: auto; 
}