body {
    margin: 0;
    background-color: rgb(255, 255, 255);
} 

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.computer-percentage {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    text-align: left;
  }
  
  #prob {
    font-size: 24px;
    line-height: 1.6;
    color: #333;
    margin: 0;
  }
  
  #prob p {
    margin: 5px 0;
  }

.drawing {
    display: grid;
    grid-template-rows: repeat(28, 1fr);
    grid-template-columns: repeat(28, 1fr);
    width: 560px;
    height: 560px;
}

.cell {
    border: 0.1px solid rgb(255, 212, 212);
    background-color: #fff;
}

.title {
    padding-bottom: 0px !important;
    padding-top: 16px !important;
}

.drawing-container {
    display: flex;
    justify-content: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.computer-percentage p {
    font-size: 18px;
}

.btn-demo {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    text-decoration: none;
}


.clear {
    background-color: #ff0000;
}

.clear:hover {
    background-color: #ff2b2b;
    transform: scale(1.05);
}

/* Learn more button (blue) */
.learn-more {
    background-color: #007bff;
}

.learn-more:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Optional: Style anchor tag within learn-more button */
.learn-more a {
    color: white;
    text-decoration: none;
    display: block; /* Ensures full button is clickable */
}

.learn-more a:hover {
    text-decoration: none;
}

.computer-percentage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.bar-label {
    margin-right: 10px;
    flex: 0 0 auto;
}

.bar {
    height: 20px;
    background-color: #00b61e;
    transition: width 0.5s;
    position: relative;
    margin-right: 10px;
}

.percentage-label {
    margin-left: auto;
    white-space: nowrap;
}

