body {
    margin: 0;
    background-color: rgb(255, 255, 255);
} 

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.computer-percentage {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    text-align: left;
  }
  
  #prob {
    font-size: 24px;
    line-height: 1.6;
    color: #333;
    margin: 0;
  }
  
  #prob p {
    margin: 5px 0;
  }

.drawing {
    display: grid;
    grid-template-rows: repeat(28, 1fr);
    grid-template-columns: repeat(28, 1fr);
    width: 560px;
    height: 560px;
}

.cell {
    border: 0.1px solid rgb(255, 212, 212);
    background-color: #fff;
}

.title {
    padding-bottom: 0px;
    padding-top: 0px;
}

.drawing-container {
    display: flex;
    justify-content: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.computer-percentage p {
    font-size: 18px;
}

.learn-more-btn a {
    text-decoration: none;
    color: white;
}

.learn-more-btn {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.learn-more-btn:hover {
    background-color: #0056b3;
}
