body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}   

.titleText {
    font-size: 33px;
    width: 50%;
    margin: 0 auto; /* Centers the text block */
    text-align: left; /* Centers the text within the block */
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.separationBar {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 10px; /* Optional: adds space above the bar */
    margin-bottom: 10px; /* Optional: adds space below the bar */
}

.mainDisplay {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 0px; */
    text-align: left; 
    font-size: 18px;
    line-height: 27px;
    color: rgb(0,0,0); /* Sets the text color of the caption */
}

.mainImage {
    width: 50%;
    display: block;
    text-align: left; 
}

#coverImage {
    padding-top: 10px;
    padding-bottom: 10px;
}

#homeInformationText {
    font-size: 18px;
    color: rgb(0,0,0); /* Sets the text color of the caption */
    margin-bottom: 5px;
}

figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 14px; /* Sets the font size of the caption */
    color: rgb(0,0,0); /* Sets the text color of the caption */
    text-align: left; /* Centers the caption text */
    font-style: italic; /* Makes the caption text italic */
    padding: 0px; /* Adds padding inside the caption */
    border-radius: 5px; /* Rounds the corners of the caption background */
}

.mainText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px; /* Sets the font size of the caption */
    color: rgb(0,0,0); /* Sets the text color of the caption */
    text-align: left; /* Centers the caption text */
    font-style: italic; /* Makes the caption text italic */
    padding: 0px; /* Adds padding inside the caption */
    border-radius: 2px; /* Rounds the corners of the caption background */
}