@font-face {
    font-family: 'RobotoMedium';
    src: url('static/resources/Roboto/Roboto-Medium.ttf') format('truetype'); /* Replace 'path/to/font.ttf' with the actual path to your font file */
}


html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
}    */

.carousel-control-prev, 
.carousel-control-next {
    display: none !important;
}

.titleText {
    font-size: 33px;
    width: 50%;
    margin: 0 auto; /* Centers the text block */
    text-align: left; /* Centers the text within the block */
    padding-top: 20px;
    padding-bottom: 2px;
    /* border-bottom: 1px solid black;
    font-family: 'RobotoSlab', sans-serif; */
}

.separationBar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: black;
    margin-top: 0px; /* Optional: adds space above the bar */
    margin-bottom: 18px; /* Optional: adds space below the bar */
}

.mainDisplay {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 0px; */
    text-align: left; 
    font-size: 18px;
    line-height: 27px;
    color: rgb(0,0,0); /* Sets the text color of the caption */
    font-family: 'RobotoSlab', sans-serif;
}

.mainImage {
    width: 50%;
    display: block;
    text-align: left; 
}

#coverImage {
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    padding: 0 !important;
    margin: 0 !important;
}

.carousel-container {
    padding: 0 !important;
    margin: 0 !important;
}

.slide {
    margin: 0;
    padding: 0;
}

#homeInformationText {
    font-size: 18px;
    color: rgb(0,0,0); /* Sets the text color of the caption */
    margin-bottom: 5px;
}

figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 14px; /* Sets the font size of the caption */
    color: rgb(0,0,0); /* Sets the text color of the caption */
    text-align: left; /* Centers the caption text */
    font-style: italic; /* Makes the caption text italic */
    padding: 0px; /* Adds padding inside the caption */
    border-radius: 5px; /* Rounds the corners of the caption background */
    font-family: 'RobotoSlab', sans-serif;
}

.mainText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px; /* Sets the font size of the caption */
    color: rgb(0,0,0); /* Sets the text color of the caption */
    text-align: left; /* Centers the caption text */
    font-style: italic; /* Makes the caption text italic */
    padding: 0px; /* Adds padding inside the caption */
    border-radius: 2px; /* Rounds the corners of the caption background */
}