.titleText {
    font-size: 33px;
    width: 50%;
    margin: 0 auto; /* Centers the text block */
    text-align: left; /* Centers the text within the block */
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.mainImage {
    display: block;
    text-align: left; 
    width: 100%;
}

#coverImage {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainDisplay {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 0px; */
    text-align: left; 
    font-size: 18px;
    color: rgb(0,0,0); /* Sets the text color of the caption */
}

.slide {
    padding: 24px, 24px, 24px, 24px !important;
    /* height: 75vh; */
    margin-bottom: 10px;
    margin-top: 10px;
}

#howItWorksInformationText1 {
    font-size: 18px;
    color: rgb(0,0,0); /* Sets the text color of the caption */
    margin-bottom: 5px;
    line-height: 27px;
}

#howItWorksInformationText2 {
    font-size: 18px;
    color: rgb(0,0,0); /* Sets the text color of the caption */
    margin-bottom: 5px;
    line-height: 27px;
}