@font-face {
    font-family: 'RobotoMedium';
    src: url('static/resources/Roboto/Roboto-Medium.ttf') format('truetype'); /* Replace 'path/to/font.ttf' with the actual path to your font file */
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/static/resources/helvetica-neue-5/HelveticaNeueMedium.otf') format('truetype'); /* Replace 'path/to/font.ttf' with the actual path to your font file */
}

.navContainer {
    width: 90% !important;
    margin: 0 auto !important;
    /* height: 8vh; */
}
 
header {
    border-top: 5px solid rgb(75,75,75) !important;
    background: rgb(243, 243, 243) !important;
    border-bottom: 1px solid black !important;
    font-family: 'HelvecticaNeue', sans-serif !important;
}
 
/*::after creates a pseudo element that is the last child of the selected element
   - inline by default
   - adds cosmetic content to an element*/

header::after {
    content: ''; /*responsible for allowing smooth navbar with no bunching*/
    display: table !important;
    clear: both !important;    
}

/*all navbar css*/
nav {
    float: right !important;
    font-family: 'HelvecticaNeue', sans-serif !important;
} 
 
nav ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

nav li {
    display: inline-block !important; /*puts a little space between them allows for text allignment*/
    margin-left: 45px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
     /*specific to the animation (can be changed)*/
    position: relative !important; /*important that its relative*/
}

nav a {
    color: rgb(100, 100, 100) !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
}

nav a:hover {
    color: rgb(0,0,0) !important;
    /* text-decoration: underline; */
    /* border-bottom: 10px solid black; */
    /* font-weight: bold; */ /*do not use this until we find a way to correct navbar shift*/
}

nav a::after {
    content: '' !important; /*no content in there*/
    display: block !important;
    height: 3px !important;
    width: 100% !important; 
    background-color: rgb(0,0,0) !important;

    position: absolute !important;
    bottom: 0 !important;
    width: 0% !important;

    transition: all ease-in-out 250ms !important;
}

nav a:hover::after {
    width: 100% !important;
}